<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rust PE</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <br/><br/><br/><br/>
        <div class="col-md-12 text-center">
          <img src="/img/error.png" />
          <br/><br/>
          <h3>Ups! pagina no encontrada</h3>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>
