<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rust PE</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/tabzilla.css" />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div id="tabzilla">
      <a href="https://www.mozilla.org/">Mozilla</a>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <header>
            <img src="/img/logo.png" alt="logo rust"/>
            <h1>Rust PE</h1>
          </header>
          <p>Grupo de usuarios de Rust. <strong class="blue">Apoyado por Mozilla Perú</strong></p>
          <ul class="list-inline">
            <li>
              <a href="http://github.com/mozillaperu" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://discourse.mozilla-community.org/c/peru" target="_blank">
                <i class="fa fa-comments" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://t.me/activatemozpe" target="_blank">
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.meetup.com/es-ES/mozillaperu/" target="_blank">
                <i class="fa fa-meetup" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/mozillaperu" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="http://facebook.com/mozillape" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <br/><br/>
      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div id="event_block" class="col-md-4">
          <h3>Último Evento</h3>
          <div id="events" class="text-center">
            <h3>SEMANA INFORMÁTICA - UNMSM</h3>
            <h4>27/04/2017 03:00 PM</h4>
            <p>Introducción a Rust: Un lenguaje de programación que combina
              paradigmas de programación de alto y bajo nivel.</p>
            <p><a class="white"
              href="https://docs.google.com/presentation/d/1OvRppwOzelg-3Am3lq6LttuwgxSDxDA62dOfMUhHask/edit?usp=sharing"
              target="_blank">Presentación</a></p>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <footer id="footer" class="row">
        <div class="col-md-12 text-center">
          <p>Desarrollado con <a href="https://rocket.rs/" target="_blank">Rocket.rs</a></p>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
